<div class="span6 offset4">
	<div class="boxy text-center">	
		<h1 class="custom-font"> Hi I'm Charles </h1>

		<p class="custom-font"> This is my first app using Rails. I enjoyed the weekend hackathon that taught me the skill and abilities to make a web app. Take a look around! </p>
			<%= link_to('Check out my App', pics_path, :class => 'btn btn-info btn-large') %>

	</div>
</div>