<div class="span6 offset4">
	<div class="boxy">	
		<h1 class="custom-font"> Hi I'm Charles </h1>

		<p class="custom-font"> I'm having a ton of fun learning rails. 
			Installing was a pain in the ass! </p>
			<%= link_to('Check out my App', pics_path, :class => 'btn btn-info btn-large') %>

	</div>
</div>