<h2 class="custom-div-header text-center"> Here are all the pics! </h2>
	<div>
	<% @pics.each do |pic| %>
	<div class="span3">
		<div class="boxy">
			<p>
				<h3> Hour: <%= pic.hour %> </h3>
			</p>
			<p>
				<%= image_tag pic.image %>
			</p>
			<p>
				<h6> Emotion: 
					<p> </p>
					<%= pic.emotion %> 
				</h6>
			</p>
			<p>
				<h6> What I Learned: 
					<p>
					<%= pic.learned %> 
					</p>
				</h6>
			</p>
		</div>	
	</div>	
	
	<% end %>
<br />
</div>

